
#title {
    text-align: center;
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

ul, ol {
    background-color: pink;
    padding: 20px;
    text-align: center;
}

ul li {
    font-weight: 800;
    list-style: none;
}

ol li {
    background-color: rgb(15, 255, 175);
    margin: 8px;
}

img {
    height: auto;
    width: 300px;
}